[Unit]
Description = Kodi Media Center

After = systemd-user-sessions.service network.target sound.target mysql.service dbus.service polkit.service upower.service 
Wants = mysql.service pulseaudio.service

[Service]
User = kodi
Group = kodi
Type = simple
#PAMName = login # you might want to try this one, did not work on all systems
ExecStart = /usr/bin/kodi-standalone
Restart = on-abort
RestartSec = 5

[Install]
WantedBy = multi-user.target